In [3]:
#String Based Assignment Problem

#1. Write a program to reverse a string.

s="shraddha"  #store the string in s variable
reverse_string=s[::-1]  #reverse the string give staring and ending point and jump with -1
print("The reverse string is:",reverse_string)

The reverse string is: ahddarhs

In [7]:
#2. Check if a string is a palindrome.
s1=input("Enter a string:") #get a string from user
string=s1.replace(" ","").lower()  #remove all spaces and conver into lower case
if string==s1[::-1]:  #use the condition check the string is match to reverse string
    print("The string is palindrome")
else:
    print("The string is not palindrome")

Enter a string: malayalam

The string is palindrome

In [9]:
#3. Convert a string to uppercase.

s3="kaushik"
s3.upper() #using the upper function the string convert into uppercase

'KAUSHIK'

In [12]:
#4. Convert a string to lowercase.

s4="PWSKILLS"
s4.lower() #using the lower function string converts into lower case

'pwskills'

In [13]:
#5. Count the number of vowels in a string.

sentence=input("Enter the sentence:") #give the sentence from user
vowels="aeiouAEIOU" #declare the vowels in lowercase and uppercase
vowel_count=0  #set the vowel count is 0

for char in sentence:
    if char in vowels:
        vowel_count+=1
print("Number of vowels:",vowel_count)

Enter the sentence: My name is shraddha

Number of vowels: 5

In [14]:
#6. Count the number of consonants in a string.

sentence=input("Enter the sentence:") #give the sentence from the user
vowels="aeiouAEIOU" #declare the vowels in lower case and upper case
consonants_count=0 #set the cosonent count is 0

for char in sentence:
    if char.isalpha() and char not in vowels:
        consonants_count+=1
print("The count of consonants is:",consonants_count)

Enter the sentence: hello guys wake up!

The count of consonants is: 9

In [16]:
#7. Remove all whitespaces from a string.

string=input("Enter the string:") #give the string from user
s=string.replace(" ","").strip() #replace the space into no space and also use strip function to leading and trailing whitespace
print("The string without whitespaces:",s)

Enter the string:     a m   shrad   d  h  a

The string without whitespaces: amshraddha

In [17]:
#8. Find the length of a string without using the `len()` function.

string=input("Enter the string:") #give the string from user
string_count=0  #set the string count is 0

for char in string:  #use the for loop for count the character manually
    string_count+=1  #its increse and add by 1
print("The length of string:",string_count)

Enter the string: shraddha

The length of string: 8

In [22]:
#9. Check if a string contains a specific word.

string="I am a python developer"  #declare the string
specific_word="python"  #declare the specific word that I want to check

if specific_word in string:  #check these specific word present in string
    print("The word present in string")
else:
    print("The word not present in string")

The word present in string

In [23]:
#10. Replace a word in a string with another word.

string="My name is shraddha" #decalre the string
replace_word=string.replace("shraddha","kaushik") #use the replace function to replace the word in a string
print("The replace word is:",replace_word)

The replace word is: My name is kaushik

In [29]:
#11. Count the occurrences of a word in a string.

string="shraddha" #declare the string
s=string.count('d') #use the count function to cound occurence in a word
s

2

In [31]:
#12. Find the first occurrence of a word in a string.

string="shraddha"  #declare the string
s=string.find('a') #use the find method to find first occurence
s

3

In [33]:
#13. Find the last occurrence of a word in a string.
string="kaushik" #decalre the string
s=string.rfind('k') #use the rfind methos to return last occurence of a word
s

6

In [35]:
#14. Split a string into a list of words.

string="I am a python developer" #declare the string
s=string.split() #use the split method to split string in list of words
s

['I', 'am', 'a', 'python', 'developer']

In [42]:
#15. Join a list of words into a string.

string_list=['I', 'am', 'a', 'python', 'developer'] #declare the list of words
result = " ".join(string_list) #using join method join the words into string
result

'I am a python developer'

In [46]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

string="am a python developer" #declare the string
s=string.replace(' ','_') #using the replace method I can convet space into underscores
s

'am_a_python_developer'

In [49]:
#17. Check if a string starts with a specific word or phrase.

string="I love eating a food" #declare the string
s=string.startswith('I') #use the startswith function to check specific word
s

True

In [52]:
#18. Check if a string ends with a specific word or phrase.
string="I love eating a food" #declare the string
s=string.endswith('food') #use the endswith function to check if a string ends with a specific word
s

True

In [53]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

string=input("Enter a string:") #declare the string
s=string.title() #use the title method to convert into title
print("The title is:",s)

Enter a string: hello world

The title is: Hello World

In [54]:
#20. Find the longest word in a string.

string=input("Enter a string:")  #declare the string
words=string.split() #first I split the string into words

longest_word="" #initialize the variable to store longest word
max_length=0  #set max_length 0

for word in words: #use the for loop to check every word
    if len(word)>max_length: #check the condition if length of word is greter than max_length 
        longest_word=word #show the longest word
        max_length=len(word) #max_length means length of word
        
print("The longest word is:",longest_word)

Enter a string: this is the longest sentence

The longest word is: sentence

In [58]:
#21. Find the shortest word in a string.

string=input("Enter a string:") #get a string from user
s=string.split() #split the string into words using split function

shortest_word="" #initialize variable to store shortest word
min_length=float('inf') #set the minimum length float'inf' means its a greter positive infinity

for word in s: #use the for loop to check every word
    if len(word)<min_length:  #check the condition if length of word is less than min_length 
        shortest_word=word #show the shortest word
        min_length=len(word) #min_length means length of word
        
print("The shortest word is:",shortest_word)

Enter a string: This is the shortest sentence

The shortest word is: is

In [63]:
#22. Reverse the order of words in a string.

string=input("Enter a string:")
split_string=string.split() #first I split the string into words

reverse_words=split_string[::-1] #these splited string into words I reversed
join_string=" ".join(reverse_words) #Then I join these words of list into string

print("The reverse string is:",join_string)

Enter a string: The reverse string is pwskills

The reverse string is: pwskills is string reverse The

In [68]:
#23. Check if a string is alphanumeric.

string=input("Enter a string:")
result=string.isalnum() #I use the isalnum method for check string is alphanumeric or not
result

Enter a string: hello123

True

In [70]:
#24. Extract all digits from a string.

string=input("Enter a string:")
extracted_digit="" #initialize the variable to store extracted digits

for char in string: #use the for loop for check the string
    if char.isdigit(): #check condition if on that string have any digit using isdigit method
        extracted_digit+=char #if condition true these its extract the digits one by one
print("The extracted digit is:",extracted_digit)

Enter a string: abc123def456ghi

The extracted digit is: 123456

In [71]:
#25. Extract all alphabets from a string.

string=input("Enter a string:")
extracted_alpha=""  #Initialize empty string to store extracted alphabets

for char in string:   #use the for loop for check the string
    if char.isalpha(): #check condition if on that string have any alphabets using isalpha method
        extracted_alpha+=char #then add these alphabets in extracted_alpha variable
        
print("The extracted alphabets is: ",extracted_alpha)

Enter a string: abc123def456ghi

The extracted alphabets is:  abcdefghi

In [73]:
#26. Count the number of uppercase letters in a string.

string=input("Enter a string:")
count=0  #set the count initially 0

for char in string:  #use the for loop to check uppercase letters in string
    if char.isupper(): #check condition if these isupper
        count+=1 #then increase count by 1
print("The uppercase letters count is: ",count)

Enter a string: sfsfYThghUYU

The uppercase letters count is:  5

In [74]:
#27. Count the number of lowercase letters in a string.

string=input("Enter a string:")
count=0  #set the initial count is 0

for char in string: #use the for loop to check lowercase letters in string
    if char.islower(): #check condition if these islower
        count+=1   #then increase count by 1
        
print("The count of lowercase letters is: ",count)

Enter a string: sfsfYThghUYU

The count of lowercase letters is:  7

In [76]:
#28. Swap the case of each character in a string.

string=input("Enter a string:")
swap_string=string.swapcase() #using the swapcase method I swap the case of each character 
print("The swap case characters is: ",swap_string)

Enter a string: shrADDha

The swap case characters is:  SHRaddHA

In [78]:
#29. Remove a specific word from a string.

string="Am a python developer"
remove_word=string.replace("python","") #using the replace method I remove a specific word
print(remove_word)

Am a  developer

In [85]:
#30. Check if a string is a valid email address.
import re  #I import re for use the regex pattern
email=input("Enter the email address: ") #get the email address from user

pattern=r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$' #I used regex pattern to check email address

if re.match(pattern,email): #check condition if email match these pattern
    print("The email address is a valid")
else:
    print("The email address is not valid")

Enter the email address:  @example.com

The email address is not valid

In [2]:
#31. Extract the username from an email address string.

email=input("Enter the email: ")
username=email.split('@')[0] #split the email 
print("Username: ",username)

Enter the email:  example@example.com

Username:  example

In [7]:
#32. Extract the domain name from an email address string.

email=input("Enter the email: ")
domain=email.split('@')[1] #split the email and get the 1 st index
print("Domain: ",domain)

Enter the email:  example@example.com

Domain:  example.com

In [9]:
#33. Replace multiple spaces in a string with a single space.

string=input("Enter a string: ")
split_string=string.split() #split the string
join_string=' '.join(split_string) #join the split string with single space
print(join_string)

Enter a string:  This  is   an example    string with   multiple   spaces.

This is an example string with multiple spaces.

In [19]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse

url=input("Enter the URL: ")

parsed_url=urlparse(url) #parse these url into scheme,netloc,parameters

is_valid= all([parsed_url.scheme,parsed_url.netloc]) #check scheme means http or ftp and network location www.example.com
print(is_valid)

Enter the URL:  https://www.example.com

True

In [22]:
#35. Extract the protocol (http or https) from a URL string.
from urllib.parse import urlparse #import the urlparse

url=input("Enter the URL: ")
parsed_url=urlparse(url) #parse these url into scheme,netloc,parameters
print(parsed_url.scheme) #extract the protocol using scheme

Enter the URL:  https://www.example.com

https

In [23]:
#36. Find the frequency of each character in a string.

string=input("Enter a string: ")
frequency={} #declare the empty dictionry

for char in string: 
    frequency[char]=frequency.get(char,0)+1 #first check current count of a string then get count and add by 1
print(frequency)

Enter a string:  hello world

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [27]:
#37. Remove all punctuation from a string.

import string #import string module for punctuation

text=input("Enter a string: ")

clean_string=''.join(char for char in text if char not in string.punctuation) #first it check each character if its find punctuation character using string.punctuation function then its remove these and show the clean text
print(clean_string)

Enter a string:  Hello, world! This is an example text."

Hello world This is an example text

In [29]:
#38. Check if a string contains only digits.

string=input("Enter a string: ")
check_digit=string.isdigit() #check if string conatins only digit using isdigit function
print(check_digit)

Enter a string:  1234

True

In [31]:
#39. Check if a string contains only alphabets.

string=input("Enter a string: ")

check_alpha=string.isalpha() #check its only contains alphabets or not
print(check_alpha)

Enter a string:  fsd88

False

In [33]:
#40. Convert a string to a list of characters.

string=input("Enter a string: ")
list(string) #using the list function convert string into list

Enter a string:  hello

['h', 'e', 'l', 'l', 'o']

In [1]:
#41. Check if two strings are anagrams.

string1=input("Enter a string1: ")
string2=input("Enter a string2: ")

replace_string1=string1.replace(" ","").lower() #replace string 1 into lower and remove space
replace_string2=string2.replace(" ","").lower() #replace string 2 into lower and remove space

if len(string1) != len(string2): #check condition the length of both strings not match to each other
    print("This is not a anagrams")
    
else:
    if sorted(string1)==sorted(string2): #sort the strings and compare
        print("Its a anagrams")
    else:
        print("Its not a anagrams")

Enter a string1:  listen
Enter a string2:  silent

Its a anagrams

In [6]:
#42. Encode a string using a Caesar cipher.

text=input("Enter a text: ")
shift=3 #shift the alphabet by position 3
encrypted_text="" #declare empty to store encrypted text

for char in text:
    if char.isalpha(): #first check first condition text is aplha or not
        shifted=ord(char)+shift #if alpha then shift the characters
        
        if char.islower(): #then check if text is in lower case
            if shifted > ord('z'): #then check if shifted character is greter then lower case 'z'
                shifted -=26 #then shift these reverse order means -26
            elif shifted < ord('a'):   #then check if shifted character is less then lower case 'a'
                shifted +=26 #then shift these +26
        elif char.isupper():  #then check the charcters is in upper case
            if shifted > ord('Z'):  #then check if shifted character is greter then upper case 'Z'
                shifted -=26 #then shift these reverse order means -26
            elif shifted < ord('A'):  #then check if shifted character is less then upper case 'A'
                shifted +=26  #then shift these +26
                
        encrypted_text+=chr(shifted) #then add these shifted character in encrypted text also convert these into characters using chr.
    else:
        encrypted_text+=char
        
print("Encrypted text: ",encrypted_text)

Enter a text:  Hello, World!

Encrypted text:  Khoor, Zruog!

In [9]:
#43. Decode a Caesar cipher encoded string.

encoded_text=input("Enter a text: ")
shift=3 #shift the character position by 3
decoded_text="" #declare empty for storing decoded text

for char in encoded_text:
    if char.isalpha():  #check first these text is alphabetical or not
        shifted=ord(char)-shift  #the shift value substracted from ASCII value
        
        if char.islower(): #then check text is in lower case
            if shifted < ord('a'): #check condition the shifted value is less then ASCII value
                shifted += 26 #then its increase
            elif shifted > ord('z'): #check the shifted value is greater than ASCII value
                shifted -= 26 #then decrease 
        elif char.isupper(): #check the text is in upper case
            if shifted < ord('A'): #check the shifted value is less than ASCII value
                shifted += 26 #then its increase
            elif shifted > ord('Z'): #check if shifted value is grater than ASCII value
                shifted -= 26 #then its decrease
        decoded_text+=chr(shifted) #convert ASCII value into character using chr
    else:
        decoded_text+=char
        
print("Decoded text",decoded_text)

Enter a text:  Khoor, Zruog!

Decoded text Hello, World!

In [19]:
#44. Find the most frequent word in a string.

string=input("Enter a string: ")

#convert into lower case
lower_string=string.lower()

#decalre the puncuation for remove
punctuations= ".,!?;:'\""

for p in punctuations:
    lower_string=lower_string.replace(p,"") #remove punctuation replace with empty space

#split the string into words
split_string=lower_string.split()

#declare empty dictionary to store word count
word_counts={}

for word in split_string:
    #check if same word is find again then increase the count
    if word in word_counts:
        word_counts[word] +=1
        
    #otherwise add new count of that word
    else:
        word_counts[word] =1
        
#get the frequent word
frequent_word=max(word_counts,key=word_counts.get)
frequency=word_counts[frequent_word]

print(f"The most frequent word is '{frequent_word}' with a frequency of {frequency}.")

Enter a string:  This is a sample text with several words. This text is a simple example to demonstrate finding the most frequent word. The word 'text' appears several times in this text.

The most frequent word is 'text' with a frequency of 4.

In [24]:
#45. Find all unique words in a string.

string=input("Enter a string: ")

#convert string into lower case
lower_string=string.lower()

#remove punctuations
punctuations=".,?!:;'\""

for p in punctuations:
    lower_string=lower_string.replace(p,"")
    
#split the string
split_string=lower_string.split()

#conert the split string into set because its remove duplications
converted_string=set(split_string)

#again converted into list
unique_word=list(converted_string)

print(converted_string)

Enter a string:  This is a test. This test is only a test.

{'only', 'test', 'is', 'a', 'this'}

In [1]:
#46. Count the number of syllables in a string.

#declare vowels
vowels="aeiou"
text=input("Enter a text: ")
#split the text into words
words=text.split()
#declare the total_syllables 0 to store syllable count
total_sylabbles=0

for word in words:
    #convert word into lower case
    word=word.lower()
    #set the count 0
    count=0
    #check first word first character if its in vowels
    if word[0] in vowels:
        count+=1 #then increase count
    for index in range(1,len(word)):  #check 2nd character to last character
        if word[index] in vowels and word[index-1] not in vowels: #check if 2nd character to above in vowels or first character not in vowels still increase count
            count+=1
    if word.endswith("e"):  #if word ends with e
        count-=1  #then decrease count
    if count==0:
        count+=1
    total_sylabbles+=count
    
print("total syllables: ",total_sylabbles)

Enter a text:  Hello, how are you doing today?

total syllables:  8

In [6]:
#47. Check if a string contains any special characters.

string=input("Enter a string: ")
conatin_special=False #set a flag by default false
for char in string:
    if not char.isalnum():  #check if character if not alpha and numeric
        conatin_special= True #then converts flag to true
        break
print(conatin_special)

Enter a string:  HelloWorld123

False

In [2]:
#48. Remove the nth word from a string.

string=input("Enter a string: ")
#declare the position of n for remove
n=3

#split the string
words=string.split()

#check n it atleast 1 and not exceed by words
if 1 <= n <= len(words):
    del words[n-1]

join_string=' '.join(words)
print(join_string)

Enter a string:  The quick brown fox jumps over the lazy dog

The quick fox jumps over the lazy dog

In [3]:
#49. Insert a word at the nth position in a string.

string=input("Enter a string: ")
new_word=input("Enter a new word: ")
#declare the n position
n=2

#split the string into words
words=string.split()

if 1<=n <= len(words) +1:
    words.insert(n-1,new_word)
join_string=' '.join(words)
print(join_string)

Enter a string:  my name is
Enter a new word:  shraddha

my shraddha name is

In [1]:
#50. Convert a CSV string to a list of lists.

csv_string=input("Enter a csv ")

split_string=csv_string.split('\n')

seperated_string=[line.split(',') for line in split_string]
print(seperated_string)

Enter a csv  name,age,city\nAlice,30,New York\nBob,25,Los Angeles\nCharlie,35,Chicago

[['name', 'age', 'city\\nAlice', '30', 'New York\\nBob', '25', 'Los Angeles\\nCharlie', '35', 'Chicago']]

In [6]:
#List Based Practice Problem :

#1. Create a list with integers from 1 to 10.

li=list(range(1,11)) #give the range function to print list 1 to 10
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#2. Find the length of a list without using the `len()` function.

li1=['shraddha','kaushik',23,26.45]
count=0  #set initial counter 0

for element in li1:
    count+=1
    
print("The length of list is: ",count)

The length of list is:  4

In [10]:
#3. Append an element to the end of a list.

li1=['shraddha','kaushik',23,26.45]
li1.append('pwskills') #using the append function to append element end of the list
print(li1)

['shraddha', 'kaushik', 23, 26.45, 'pwskills']

In [13]:
#4. Insert an element at a specific index in a list.

li1=['shraddha','kaushik',23,26.45]
li1.insert(1,'pwskills') #for insert a element on specific index I used insert function
li1

['shraddha', 'pwskills', 'kaushik', 23, 26.45]

In [15]:
#5. Remove an element from a list by its value.
li1=['shraddha','kaushik',23,26.45]
li1.remove(23) #for remove element by its value I used remove function
li1

['shraddha', 'kaushik', 26.45]

In [17]:
#6. Remove an element from a list by its index.
li1=['shraddha','kaushik',23,26.45]
li1.pop(1)  #I remove element by its index using pop function
li1

['shraddha', 23, 26.45]

In [26]:
#7. Check if an element exists in a list.
li1=['shraddha','kaushik',23,26.45]
check_element='kaushik' #declare the check element

if check_element in li1: #check condition if these check element present in list or not
    print(f"The {check_element} element exist in a list")
else:
    print(f"The {check_element} element not exist in a list")

The kaushik element exist in a list

In [32]:
#8. Find the index of the first occurrence of an element in a list.
li1=['shraddha','kaushik',23,26.45]
x=li1.index('kaushik') #I used index function to show the index of that value 
x

1

In [37]:
#9. Count the occurrences of an element in a list.
li1=['shraddha','kaushik',23,26.45,'shraddha','shraddha']
count_element=li1.count('shraddha') #I used the count function to count number of occurences of element in string
count_element

3

In [39]:
#10. Reverse the order of elements in a list.
li1=['shraddha','kaushik',23,26.45]
li1.reverse() #I used reverse methos to reverse the order of element in a list
li1

[26.45, 23, 'kaushik', 'shraddha']

In [42]:
#11. Sort a list in ascending order.
li1=[1,8,9,2,4,10]
li1.sort() #I used the  sort function to sort a list in ascending order
li1

[1, 2, 4, 8, 9, 10]

In [45]:
#12. Sort a list in descending order.
li1=[1,8,9,2,4,10]
li1.sort(reverse=True) #I used the sort function and set reverse flag true for descending order
li1

[10, 9, 8, 4, 2, 1]

In [47]:
#13. Create a list of even numbers from 1 to 20.

even_list=[num for num in range(1,21) if num %2==0] #I used for loop to show even number in range 1 to 20
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
#14. Create a list of odd numbers from 1 to 20.

odd_numbers=[num for num in range(1,21) if num %2 !=0] #use loop to check if its not devided by 2 then its a odd number
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [51]:
#15. Find the sum of all elements in a list.
li=list(range(1,11))
total_sum=sum(li) #I used sum function to sum of all elements
print(total_sum)

55

In [53]:
#16. Find the maximum value in a list.

li=[2,25,689,145,458,555]
max_value=max(li) #I used the max function to show the max value in list
print(max_value)

689

In [54]:
#17. Find the minimum value in a list.

li=[2,25,689,145,458,555]
min_value=min(li) #I used min function to show min value in list
print(min_value)

2

In [1]:
#18. Create a list of squares of numbers from 1 to 10.

square=[num ** 2 for num in range(1,11)] #I used for loop for each value to 1 to 10 its multiply by 2
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#19. Create a list of random numbers.
import random #import random module
random_numbers=[random.randint(1,100) for _ in range(10)] #I used random.randint for create random number to 1 to 100
print(random_numbers)

[54, 19, 4, 81, 66, 5, 4, 62, 29, 79]

In [5]:
#20. Remove duplicates from a list.
li=[2,8,2,9,4,5,6,8,6,5]
convert_li=set(li) #for remove duplicates I convert list to set
convert_set=list(convert_li) #again I convert set to list
convert_set

[2, 4, 5, 6, 8, 9]

In [10]:
#21. Find the common elements between two lists.

li1=[1,2,3,4,5]
li2=[1,2,6,7,8]

convert_li1=set(li1) #convert list 1 into set
convert_li2=set(li2) #convert list 2 into set

common_element=convert_li1 & convert_li2 #I used intersection operator for get common element
convert_list=list(common_element) #again convert into list

print(convert_list)

[1, 2]

In [12]:
#22. Find the difference between two lists.
li1=[1,2,3,4,5]
li2=[1,2,6,7,8]

convert_li1=set(li1) #convert list 1 into set
convert_li2=set(li2) #convert list 2 into set

diff_element=convert_li1 ^ convert_li2 #I used symmetric difference operator for get difference element
convert_list=list(diff_element) #again convert into list

print(convert_list)

[3, 4, 5, 6, 7, 8]

In [14]:
#23. Merge two lists.
li1=[1,2,3,4,5]
li2=[1,2,6,7,8]

merge_list=li1+li2 #I used + operator to merge two list
print(merge_list)

[1, 2, 3, 4, 5, 1, 2, 6, 7, 8]

In [17]:
#24. Multiply all elements in a list by 2.

element=[num * 2 for num in range(1,21)] #I used for loop multiple all elements in a list by 2
print(element)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [19]:
#25. Filter out all even numbers from a list.

li=list(range(1,11))
even_numbers=[num for num in li if num % 2 == 0] #I check condition if the element its divided into 2 so its even
print(even_numbers)

[2, 4, 6, 8, 10]

In [22]:
#26. Convert a list of strings to a list of integers.

li=["1","2","3","4"]
converted_list=[int(num) for num in li] #I used int method to convert string of list into integers
print(converted_list)

[1, 2, 3, 4]

In [23]:
#27. Convert a list of integers to a list of strings.

li=[1,2,3,4,5]
converted_list=[str(num) for num in li] #I used str method to convert integer list into string list
print(converted_list)

['1', '2', '3', '4', '5']

In [24]:
#28. Flatten a nested list.
li=[[1, 2, [3, 4]], [5, 6], [7, [8, 9]]]

flat_list=[item for sublist in li for item in (sublist if isinstance(sublist,list) else [sublist])]

print(flat_list)

[1, 2, [3, 4], 5, 6, 7, [8, 9]]

In [2]:
#29. Create a list of the first 10 Fibonacci numbers.
fibonacci_numbers=[0,1]

while len(fibonacci_numbers)<10:
    next_number=fibonacci_numbers[-1]+fibonacci_numbers[-2]
    fibonacci_numbers.append(next_number)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
#30. Check if a list is sorted.
li=[1,2,3,4]
is_sorted=True

for i in range(len(li)-1):
    if li[i]>li[i+1]:
        is_sorted:False
        break
if is_sorted:
    print("list is sorted")
else:
    print("Its not sorted")

list is sorted

In [2]:
#31. Rotate a list to the left by `n` positions.

#declare the list
li=[1,2,3,4,5,6,7]

#declare the n position
n=int(input("Enter the n position: "))

#rotate it starting n -th to n th position and combine it
rotate_li=li[n:]+li[:n]

print(rotate_li)

Enter the n position:  3

[4, 5, 6, 7, 1, 2, 3]

In [7]:
#32. Rotate a list to the right by `n` positions.

#declare the list
li=[1,2,3,4,5,6,7]

#declare the n position
n=int(input("Enter the n position: "))

#To calculate list length does not exceed to given position
n= n % len(li)

#rotate it starting n -th to n th position and combine it
rotate_li=li[-n:]+li[:-n]

print(rotate_li)

Enter the n position:  2

[6, 7, 1, 2, 3, 4, 5]

In [2]:
#33. Create a list of prime numbers up to 50.

#declare empty list to store prime numbers
primes=[]

#use for loop to define range of prime numbers
for num in range(2,51):
    #set is_prime is true
    is_prime=True
    
    #use for loop to check prime numbers
    for i in range(2,int(num ** 0.5)+1):
        if num%i==0:
            is_prime=False
            break
            
    if is_prime==True:
        primes.append(num)
        
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [3]:
#34. Split a list into chunks of size `n`.

li=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

n=4

chunks=[]

for i in range(0,len(li),n):
    chunks.append(li[i:i+n])
print(chunks)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]

In [2]:
#35. Find the second largest number in a list.

li=[2,4,6,8,9]

largest=float('-inf')
second_largest=float('-inf')

for number in li:
    if number > largest:
        largest=number
        
for number in li:
    if number!=largest and number>second_largest:
        second_largest=number
        
print(second_largest)

8

In [3]:
#36. Replace every element in a list with its square.

li=[2,3,4,5,6]

square_list=[]

for i in li:
    square_list.append(i**2)
print(square_list)

[4, 9, 16, 25, 36]

In [9]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

li=[1,2,3,4,5]

my_dict={li[i]:i for i in range(len(li))}

print(my_dict)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [10]:
#38. Shuffle the elements of a list randomly.

import random

li=[1,2,3,4,5,6]

random.shuffle(li)

print(li)

[1, 4, 2, 6, 3, 5]

In [13]:
#39. Create a list of the first 10 factorial numbers.

n=10

factorials=[]

fact=1
for i in range(1,n+1):
    fact*=i
    factorials.append(fact)
print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [16]:
#40. Check if two lists have at least one element in common.

li1=[1,2,3,4,5]
li2=[5,6,7,8,9]

common_found=False

for element in li1:
    if element in li2:
        common_found=True
        break
        
if common_found:
    print("The lists have at least one element is common")
else:
    print("Does not have any common element")

The lists have at least one element is common

In [20]:
#41. Remove all elements from a list.

li=[1,2,3,4,5,6]
li.clear()
print(li)

[]

In [21]:
#42. Replace negative numbers in a list with 0.

li=[1,3,4,-5,2,-6]

for i in range(len(li)):
    if li[i]<0:
        li[i]=0
print(li)

[1, 3, 4, 0, 2, 0]

In [25]:
#43. Convert a string into a list of words.

string="hello World"
converted_string=string.split()
print(converted_string)

['hello', 'World']

In [29]:
#44. Convert a list of words into a string.

li=['hello', 'World']
converted_li=' '.join(li)
print(converted_li)

hello World

In [3]:
#45. Create a list of the first `n` powers of 2.

#declare the n value
n=10

#declare the empty list to store n power of 2 
power_of_2=[]

#use the for loop 
for i in range(n):
    power_of_2.append(2**i)
print(power_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [7]:
#46. Find the longest string in a list of strings.

li=['kau','mau','shraddha','kaushik']

longets_string=""

for i in li:
    if len(i)>len(longets_string):
        longets_string=i
        
print(longets_string)

shraddha

In [13]:
#47. Find the shortest string in a list of strings.
li=['kau','mauu','shraddha','kaushik']

if li:
    shortest_string=li[0]
    for i in li:
        if len(i)<len(shortest_string):
            shortest_string=i

    print(shortest_string)
    
else:
    print("list is empty")

kau

In [16]:
#48. Create a list of the first `n` triangular numbers.

n=10

triangular_numbers=[]

for i in range(1,n+1):
    t_n=i*(i+1)//2
    triangular_numbers.append(t_n)
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [2]:
#49. Check if a list contains another list as a subsequence.

main_li=[1,2,3,4,5]
sub_li=[6,7]

main_length=len(main_li)
sub_length=len(sub_li)

i=0
j=0

while i<main_length and j<sub_length:
    if main_li[i]==sub_li[j]:
        j+=1
    i+=1
    
if j==sub_length:
    print("The list is subsequence of main list")
else:
    print("Its not a subsequence of main list")

Its not a subsequence of main list

In [4]:
#50. Swap two elements in a list by their indices.
li=[1,2,3,4,5]

index1=1
index2=2

print("Original list: ",li)

li[index1],li[index2]=li[index2],li[index1]

print("modified list",li)

Original list:  [1, 2, 3, 4, 5]
modified list [1, 3, 2, 4, 5]

In [5]:
#Tuple Based Practice Problem 

#1. Create a tuple with integers from 1 to 5.

t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [8]:
#2. Access the third element of a tuple.

t=(1,2,3,4,5)
t[2]

3

In [9]:
#3. Find the length of a tuple without using the `len()` function.
t=(1,2,3,4,5)
count=0
for i in t:
    count+=1
print(count)

5

In [14]:
#4. Count the occurrences of an element in a tuple.

t=(1,2,3,4,3,5,3,6,7,3)

t.count(3)

4

In [17]:
#5. Find the index of the first occurrence of an element in a tuple.

t=(1,2,3,4,5,6,2)
t.index(2)

1

In [20]:
#6. Check if an element exists in a tuple.

t=(1,2,3,4,5,6,2)

element_to_check=int(input("Enter the number to check: "))

if element_to_check in t:
    print("Element exists in a tuple")
else:
    print("Element does not exists in a tuple")

Enter the number to check:  2

Element exists in a tuple

In [21]:
#7. Convert a tuple to a list.

t=(1,2,3,4,5,6,2)

converted_tuple=list(t)

print(converted_tuple)

[1, 2, 3, 4, 5, 6, 2]

In [22]:
#8. Convert a list to a tuple.

li=[1, 2, 3, 4, 5, 6, 2]

converted_li=tuple(li)

print(converted_li)

(1, 2, 3, 4, 5, 6, 2)

In [23]:
#9. Unpack the elements of a tuple into variables.

t=(1,2,3)

a,b,c=t

print("a: ",a)
print("b: ",b)
print("c: ",c)

a:  1
b:  2
c:  3

In [27]:
#10. Create a tuple of even numbers from 1 to 10.

even_tuple=[]

for i in range(1,11):
    if i%2==0:
        even_tuple.append(i)
print(tuple(even_tuple))

(2, 4, 6, 8, 10)

In [28]:
#11. Create a tuple of odd numbers from 1 to 10.

odd_tuple=[]

for i in range(1,11):
    if i%2!=0:
        odd_tuple.append(i)
print(tuple(odd_tuple))

(1, 3, 5, 7, 9)

In [29]:
#12. Concatenate two tuples.
t1=(1,2,3)
t2=(4,5,6)

print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [30]:
#13. Repeat a tuple three times.

t=(1,2,3,4,5)

repeted_tuple=t*3

print(repeted_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [32]:
#14. Check if a tuple is empty.

t=()

if not t:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [33]:
#15. Create a nested tuple.

t=((1,2),(3,4),(5,6),(6,7))
print(t)

((1, 2), (3, 4), (5, 6), (6, 7))

In [35]:
#16. Access the first element of a nested tuple.

t=((1,2),(3,4),(5,6),(6,7))

first_element=t[0][0]

print(first_element)

1

In [37]:
#17. Create a tuple with a single element.

t=(1,)
t

(1,)

In [40]:
#18. Compare two tuples.

t1=(1,2,3,4)
t2=(5,2,3,4)

if t1==t2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are not equal

In [43]:
#19. Delete a tuple.
t=(1,2,3,4,5)
del t

In [45]:
#20. Slice a tuple.

t=(1,2,3,4,5)

slicing_tuple=t[1:4]

print(slicing_tuple)

(2, 3, 4)

In [46]:
#21. Find the maximum value in a tuple.

t=(1,2,3,4,5)

maximum_value=max(t)

print(maximum_value)

5

In [47]:
#22. Find the minimum value in a tuple.

t=(1,2,3,4,5)

minimum_value=min(t)

print(minimum_value)

1

In [49]:
#23. Convert a string to a tuple of characters.

string="shraddha"
tuple(string)

('s', 'h', 'r', 'a', 'd', 'd', 'h', 'a')

In [54]:
#24. Convert a tuple of characters to a string.

char=('s', 'h', 'r', 'a', 'd', 'd', 'h', 'a')
string=''.join(char)
print(string)

shraddha

In [55]:
#25. Create a tuple from multiple data types.

t=(1,2.5,"mau",(2,3))
t

(1, 2.5, 'mau', (2, 3))

In [57]:
#26. Check if two tuples are identical.
t1=(1,2,3)
t2=(1,2,3)

if t1==t2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [59]:
#27. Sort the elements of a tuple.

t=(1,3,4,5,8,7)
sorted_tuple=tuple(sorted(t))
print(sorted_tuple)

(1, 3, 4, 5, 7, 8)

In [63]:
#28. Convert a tuple of integers to a tuple of strings.

tuple_of_integers=(1,2,3,4,5)

tuple_of_string=(tuple(str(i) for i in tuple_of_integers))

print(tuple_of_string)

('1', '2', '3', '4', '5')

In [64]:
#29. Convert a tuple of strings to a tuple of integers.

tuple_of_string=('1', '2', '3', '4', '5')

tuple_of_integers=tuple(int(i) for i in tuple_of_string)

print(tuple_of_integers)

(1, 2, 3, 4, 5)

In [65]:
#30. Merge two tuples.

t1=(1,2,3)
t2=(4,5,6)

merge_tuple=t1+t2

print(merge_tuple)

(1, 2, 3, 4, 5, 6)

In [67]:
#31. Flatten a nested tuple.

t=((1,2),(3,4),(5,6),(7,8))

flatten_tuple=tuple((item for i in t for item in i))

print(flatten_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [69]:
#32. Create a tuple of the first 5 prime numbers.

prime_numbers=[]

for num in range(2,6):
    is_prime=True
    
    for i in range(2,int(num ** 0.5)+1):
        if num%i==0:
            is_prime=False
            break
    if is_prime:
        prime_numbers.append(num)
        
print(tuple(prime_numbers))

(2, 3, 5)

In [72]:
#33. Check if a tuple is a palindrome.

t=(1,2,2,1)

palindrome_list=list(t)

reversed_list=palindrome_list[::-1]

palindrome_tuple=tuple(reversed_list)

if t==palindrome_tuple:
    print("Tuple is a palindrome")
else:
    print("Tuple is not palindrome")

Tuple is a palindrome

In [73]:
#34. Create a tuple of squares of numbers from 1 to 5.

sqaures_of_numbers=[]

for i in range(1,6):
    sqaures_of_numbers.append(i**2)
print(tuple(sqaures_of_numbers))

(1, 4, 9, 16, 25)

In [78]:
#35. Filter out all even numbers from a tuple.

t=(1,2,3,4,5,6,7,8,9,10,12)

even_numbers=tuple(i for i in t if i%2==0)

print(even_numbers)

(2, 4, 6, 8, 10, 12)

In [81]:
#36. Multiply all elements in a tuple by 2.

t=(1,2,3,4,5)

multiple_by_two=tuple(i*2 for i in t)

print(multiple_by_two)

(2, 4, 6, 8, 10)

In [85]:
#37. Create a tuple of random numbers.
import random

random_tuples=tuple(random.randint(1,100) for i in range(5))

print(random_tuples)

(11, 15, 3, 23, 42)

In [89]:
#38. Check if a tuple is sorted.

t=(1,2,3,8,6,7)

sorted_tuple=tuple(sorted(t))

if t==sorted_tuple:
    print("The tuple is sorted")
else:
    print("The tuple is not sorted")

The tuple is not sorted

In [90]:
#39. Rotate a tuple to the left by `n` positions.

t=(1,2,3,4,5,6)

n=2
rotate_left=t[n:]+t[:n]
print(rotate_left)

(3, 4, 5, 6, 1, 2)

In [91]:
#40. Rotate a tuple to the right by `n` positions.
t=(1,2,3,4,5,6)

n=2
rotate_right=t[-n:]+t[:-n]
print(rotate_right)

(5, 6, 1, 2, 3, 4)

In [97]:
#41. Create a tuple of the first 5 Fibonacci numbers.
n=5

fibonacci_series=[0,1]

for _ in range(2,n):
    next_fibonacci=fibonacci_series[-1]+fibonacci_series[-2]
    fibonacci_series.append(next_fibonacci)
print(tuple(fibonacci_series))

(0, 1, 1, 2, 3)

In [102]:
#42. Create a tuple from user input.
t=input("Enter the elements seperated by spaces: ").split()

user_tuple=tuple(int(i) for i in t)

print(user_tuple)

Enter the elements seperated by spaces:  1 2 3 4 5 6

(1, 2, 3, 4, 5, 6)

In [104]:
#43. Swap two elements in a tuple.

t=(1,2,3,4,5)

convert_list=list(t)

convert_list[1],convert_list[2]=convert_list[2],convert_list[1]

tuple(convert_list)

(1, 3, 2, 4, 5)

In [105]:
#44. Reverse the elements of a tuple.
t=(1,2,3,4,5)
reverse_elements=t[::-1]
print(reverse_elements)

(5, 4, 3, 2, 1)

In [106]:
#45. Create a tuple of the first `n` powers of 2.
n=5

power_of_two=tuple(2**i for i in range(n))

print(power_of_two)

(1, 2, 4, 8, 16)

In [107]:
#46. Find the longest string in a tuple of strings.

t=("kau","mau","shraddha")

longets_string=""

for i in t:
    if len(i)>len(longets_string):
        longets_string=i
print(longets_string)

shraddha

In [111]:
#47. Find the shortest string in a tuple of strings.
t=("kauu","mau","shraddha","ok","a")

if t:
    shorted_string=t[0]
    
    for i in t:
        if len(i)<len(shorted_string):
            shorted_string=i
    print(shorted_string)

a

In [114]:
#48. Create a tuple of the first `n` triangular numbers.
n=5
numbers=[]
for i in range(1,n+1):
    traingular_numbers=i*(i+1)//2
    numbers.append(traingular_numbers)
print(tuple(numbers))

(1, 3, 6, 10, 15)

In [2]:
#49. Check if a tuple contains another tuple as a subsequence.
main_tuple=(1,2,3,4,5)
sub_tuple=(10,15)

len_main_tuple=len(main_tuple)
len_sub_tuple=len(sub_tuple)

i=0
j=0

while i<len_main_tuple and j<len_sub_tuple:
    if sub_tuple[j]==main_tuple[i]:
        j+=1
    i+=1
    
if j==len_sub_tuple:
    print("The tuple contains subsequence")
else:
    print("The tuple does not contain subsequence")

The tuple does not contain subsequence

In [3]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

n=int(input("Enter the n value: "))

alternation=tuple(1 if i%2==0 else 0 for i in range(n))
print(alternation)

Enter the n value:  5

(1, 0, 1, 0, 1)

In [8]:
#Set Based Practice Problem 

#1. Create a set with integers from 1 to 5.

s=set(range(1,6))
print(s)

{1, 2, 3, 4, 5}

In [10]:
#2. Add an element to a set.
s={1, 2, 3, 4, 5}

add_element=s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [11]:
#3. Remove an element from a set.
s={1,2,3,4,5,6}
remove_element=s.remove(6)
print(s)

{1, 2, 3, 4, 5}

In [15]:
#4. Check if an element exists in a set.
s={1,2,3,4,5,6}
element_to_check=int(input("Enter the element: "))

if element_to_check in s:
    print("Element is exists in tuple")
else:
    print("Element not exists in tuple")

Enter the element:  5

Element is exists in tuple

In [16]:
#5. Find the length of a set without using the `len()` function.
s={1,2,3,4,5,6,7}
count=0

for i in s:
    count+=1
print(count)

7

In [17]:
#6. Clear all elements from a set.

s={1,2,3,4,5}
s.clear()

In [20]:
#7. Create a set of even numbers from 1 to 10.

set_even_numbers=set(i for i in range(1,11) if i%2==0)
print(set_even_numbers)

{2, 4, 6, 8, 10}

In [21]:
#8. Create a set of odd numbers from 1 to 10.
set_odd_numbers=set(i for i in range(1,11) if i%2!=0)
print(set_odd_numbers)

{1, 3, 5, 7, 9}

In [25]:
#9. Find the union of two sets.
s1={1,2,3,4,5}
s2={5,6,7,8,9}

union_set=s1 | s2
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
#10. Find the intersection of two sets.
s1={1,2,3,4,5}
s2={5,6,7,8,9,1}

intersection_set=s1 & s2
print(intersection_set)

{1, 5}

In [30]:
#11. Find the difference between two sets.
s1={1,2,3,4,5}
s2={5,6,7,8,9,1}

difference_elements=s1.difference(s2)
print(difference_elements)

{2, 3, 4}

In [33]:
#12. Check if a set is a subset of another set.
s1={1,2,3}
s2={1,2,3,4,5}

check_subset=s1.issubset(s2)
print(check_subset)

True

In [35]:
#13. Check if a set is a superset of another set.
s1={1,2,3,4,5}
s2={1,2,3}

check_superset=s1.issuperset(s2)
print(check_superset)

True

In [36]:
#14. Create a set from a list.
li=[1,2,3,4,5]
list_to_set=set(li)
print(list_to_set)

{1, 2, 3, 4, 5}

In [37]:
#15. Convert a set to a list.
s={1,2,3,4,5}
set_to_list=list(s)
print(set_to_list)

[1, 2, 3, 4, 5]

In [43]:
#16. Remove a random element from a set.
s={1,2,3,4,5}
print("The original set: ",s)
remove_random_element=s.pop()
print("The modified set: ",s)
print("The random element is: ",remove_random_element)

The original set:  {1, 2, 3, 4, 5}
The modified set:  {2, 3, 4, 5}
The random element is:  1

In [45]:
#17. Pop an element from a set.
s={1,2,3,4,5}
pop_element=s.pop()
print(pop_element)

1

In [47]:
#18. Check if two sets have no elements in common.
s1={1,2,3,4,5}
s2={6,7,8,9}

check_no_common=s1.isdisjoint(s2)
if check_no_common:
    print("The sets have no common elements")
else:
    print("The sets have common elements")

The sets have no common elements

In [51]:
#19. Find the symmetric difference between two sets.
s1={1,2,3,4,5,6}
s2={5,6,7,8,9}

symmetric_diff=s1.symmetric_difference(s2)
print(symmetric_diff)

{1, 2, 3, 4, 7, 8, 9}

In [53]:
#20. Update a set with elements from another set.
s1={1,2,3,4}
s2={4,5,6,7}

update_elements=s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [55]:
#21. Create a set of the first 5 prime numbers.
prime_numbers=[]

for num in range(2,6):
    is_prime=True
    
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            is_prime=False
            break
    if is_prime:
        prime_numbers.append(num)
print(set(prime_numbers))

{2, 3, 5}

In [57]:
#22. Check if two sets are identical.
s1={1,2,3}
s2={1,2,3,4}

if s1==s2:
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are not identical

In [59]:
#23. Create a frozen set.

s={1,2,3,4,5,6}

frozent_sets=frozenset(s)
print(frozent_sets)

frozenset({1, 2, 3, 4, 5, 6})

In [60]:
#24. Check if a set is disjoint with another set.
s1={1,2,3,4,5}
s2={6,7,8,9}

check_no_common=s1.isdisjoint(s2)
if check_no_common:
    print("The sets have no common elements")
else:
    print("The sets have common elements")

The sets have no common elements

In [61]:
#25. Create a set of squares of numbers from 1 to 5.

squares_numbers=set(i**2 for i in range(1,6))
print(squares_numbers)

{1, 4, 9, 16, 25}

In [62]:
#26. Filter out all even numbers from a set.
s={1,2,5,8,3,4,9,7,6}

even_numbers=set(i for i in s if i%2==0)
print(even_numbers)

{8, 2, 4, 6}

In [63]:
#27. Multiply all elements in a set by 2.
s={1,2,3,4,5}

multiply_by_two=set(i*2 for i in s)
print(multiply_by_two)

{2, 4, 6, 8, 10}

In [65]:
#28. Create a set of random numbers.
import random

random_set=set(random.randint(1,100) for i in range(10))

print(random_set)

{64, 36, 5, 42, 46, 56, 89, 26, 91, 28}

In [68]:
#29. Check if a set is empty.
s=set()

if len(s)==0:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [75]:
#30. Create a nested set (hint: use frozenset).
s1=frozenset({1,2,3})
s2=frozenset({4,5,6})

frozenset_set=frozenset({s1,s2})
print(frozenset_set)

frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6})})

In [1]:
#31. Remove an element from a set using the discard method.
s={1,2,3,4,5} 
remove_elements=s.discard(2)
print(s)

{1, 3, 4, 5}

In [78]:
#32. Compare two sets.
s1={1,2,3}
s2={1,2,3,4,5}

if s1==s2:
    print("sets are equal")
elif s1!=s2:
    print("sets are not equal")
elif s1<=s2:
    print("sets are subset of another set")
elif s1<s2:
    print("The set are proper subset of another set")
elif s1>=s2:
    print("The set is superset of another set")
elif s1>s2:
    print("The set is proper superset of another set")
else:
    print("Not compare set")

sets are not equal

In [80]:
#33. Create a set from a string.
string="Hello world"

string_to_set=set(string)
print(string_to_set)

{'H', 'r', 'd', 'o', ' ', 'e', 'w', 'l'}

In [86]:
#34. Convert a set of strings to a set of integers.
s={"1","2","3","4","5"}

convert_to_integers={int(i) for i in s}
print(convert_to_integers)

{1, 2, 3, 4, 5}

In [3]:
#35. Convert a set of integers to a set of strings.
s={1,2,3,4,5}

convert_to_string={str(i) for i in s}
print(convert_to_string)

{'4', '3', '5', '1', '2'}

In [4]:
#36. Create a set from a tuple.
t=(1,2,3,4,5)
convert_to_set=set(t)
print(convert_to_set)

{1, 2, 3, 4, 5}

In [5]:
#37. Convert a set to a tuple.
s={1,2,3,4,5}
convert_to_tuple=tuple(s)
print(convert_to_tuple)

(1, 2, 3, 4, 5)

In [6]:
#38. Find the maximum value in a set.

s={1,2,3,4,5}
maximun_value=max(s)
print(maximun_value)

5

In [7]:
#39. Find the minimum value in a set.

s={1,2,3,4,5}
minimum_value=min(s)
print(minimum_value)

1

In [14]:
#40. Create a set from user input.
s=input("Enter elements seperated by spaces: ").split()
convert_to_set=set(s)
print(convert_to_set)

Enter elements seperated by spaces:  1 2 3

{'3', '1', '2'}

In [17]:
#41. Check if the intersection of two sets is empty.
s1={1,2,3}
s2={3,4,5,6}

intersection_set=s1 & s2

if intersection_set:
    print("The sets are not empty",intersection_set)
else:
    print("The sets are empty")

The sets are not empty {3}

In [22]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci=[0,1]

for i in range(2,6):
    next_fibonacci=fibonacci[i-1]+fibonacci[i-2]
    fibonacci.append(next_fibonacci)
print(set(fibonacci))

{0, 1, 2, 3, 5}

In [24]:
#43. Remove duplicates from a list using sets.

li=[1,2,2,3,4,5,4,1]
convert_set=set(li)
print(list(convert_set))

[1, 2, 3, 4, 5]

In [26]:
#44. Check if two sets have the same elements, regardless of their count.
s1={1,2,3}
s2={1,2,3,4}

if s1==s2:
    print("The sets have same elements")
else:
    print("The sets do not have same elements")

The sets do not have same elements

In [27]:
#45. Create a set of the first `n` powers of 2.
n=5

power_of_two=set(2**i for i in range(n))
print(power_of_two)

{1, 2, 4, 8, 16}

In [29]:
#46. Find the common elements between a set and a list.
s={1,2,3,4,5}
li=[5,6,7,8,9]

common_elements=s.intersection(li)
print(common_elements)

{5}

In [32]:
#47. Create a set of the first `n` triangular numbers.
n=5
traingular_num=[]
for i in range(1,n+1):
    traingular_numbers=i*(i+1)//2
    traingular_num.append(traingular_numbers)
print(set(traingular_num))

{1, 3, 6, 10, 15}

In [33]:
#48. Check if a set contains another set as a subset.
s1={1,2,3,4,5}
s2={1,2}

check_subset=s2.issubset(s1)
print(check_subset)

True

In [38]:
#49. Create a set of alternating 1s and 0s of length `n`.
n=int(input("Enter the number: "))

alternating_number=set(1 if i%2==0 else 0 for i in range(n))
print(alternating_number)

Enter the number:  10

{0, 1}

In [39]:
#50. Merge multiple sets into one.

s1={1,2,3}
s2={4,5,6}
s3={7,8,9}

merge_set=s1.union(s2,s3)
print(merge_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}